/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --background-color: #000028;
  --backround-image: url("../images/cover-image-dark.png");
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --article-title-color: var(--background-color);
  --section-title-color: var(--title-shadow);
  --border-color: var(--text-color);
  --corners-color: var(--title-shadow);
  --title-decor: var(--title-shadow);
  --link-shadow: var(--title-shadow);
  --rec-color: var(--title-shadow);
}

.dark-theme-title {
  color: var(--article-title-color);
}

