.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --main-text-color: #353430;
  --title-color: #FFC2E6;
  --title-shadow: #FF0070;
  --title-decor: #FF8DCB;
  --hover-color: 1px solid rgba(50, 49, 45, 0.4);
  --background-color: #FFF1F7;
  --article-title-color: var(--main-text-color);
  --section-title-color: var(--main-text-color);
  --border-color: var(--title-shadow);
  --corners-color: var(--main-text-color);
  --link-shadow: var(--title-decor);
  --rec-color: var(--background-color);
}

.page.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --main-text-color: #353430;
    --title-color: #FFC2E6;
    --title-shadow: #FF0070;
    --title-decor: #FF8DCB;
    --hover-color: 1px solid rgba(50, 49, 45, 0.4);
    --background-color: #FFF1F7;
    --article-title-color: var(--main-text-color);
    --section-title-color: var(--main-text-color);
    --border-color: var(--title-shadow);
    --corners-color: var(--main-text-color);
    --link-shadow: var(--title-decor);
    --rec-color: var(--background-color);
  }
}