@media (375px <= width < 768px) {

  .header__theme-menu-list {
    gap: 11px;
  }

  .header__theme-menu {
    padding-top: 75px;
  }

  .header__title-section {
    padding: 70px 0 74px;
    gap: 57px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-left: 0;
    line-height: 82.5%;
  }

  .header__title-description {
    width: 100%;
  }

  .main {
    padding: 0 10px;
    margin: 34px 0;
    gap: 50px;
  }

  .section__title {
    width: 100%;
    margin-bottom: 20px;
  }

  .section:first-of-type .section__title,
  .section:nth-of-type(3) .section__title {
    width: 100%;
    margin-bottom: 20px;
  }

  .section:first-of-type .section__article-list,
  .section:nth-of-type(3) .section__article-list {
    width: 100%;
  }

  .section:nth-of-type(2) .section__title {
    width: 100%;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .footer {
    margin-top: 38px;
    padding: 262px 0;
  }
}

@media (width < 768px) {
  .section-image .image {
    width: 100%;
    height: auto;
  }

  .section-image {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}