/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background: var(--background-image) no-repeat top center, var(--background-color);
  background-size: auto 768px;
  color: var(--main-text-color);
}

.header {
  position: relative;
  padding: 0 20px;
}

.header__rec {
  position: absolute;
  color: var(--rec-color);
  text-transform: uppercase;
  top: 20px;
  right: 48px;
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
  top: 50%;
  right: 0;
}

.header__theme-menu {
  padding-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  color: var(--corners-color);
  line-height: 100%;
  padding: 2.5px 12px;
  border: transparent;
  background: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--corners-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  margin-left: -2%;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
}

.header__title-section {
  display: flex;
  flex-direction: column;
  padding: 238px 0 136px;
  gap: 76px;
}

.header__description {
  align-self: flex-end;
  color: var(--article-title-color);
  font-weight: 700;
  width: 50%;
}



