@media (768px <= width < 1024px) {
  .header__theme-menu {
    padding-top: 190px;
  }

  .header__title-section {
    padding: 150px 0 183px;
    gap: 133px;
  }

  .header__title {
    margin-left: -3%;
  }

  .section__title {
    width: 35%;
  }

  .section:first-of-type .section__title,
  .section:nth-of-type(3) .section__title {
    width: 32%;
  }

  .section:first-of-type .section__article-list,
  .section:nth-of-type(3) .section__article-list {
    width: 65%;
  }

  .footer {
    padding: 434px 20px;
  }
}

@media (width >= 768px) {
  .section-image {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 19px;
  }

  .section-image .image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .section-image .image:first-of-type,
  .section-image .image-image {
    grid-column: 2 span;
  }

  .section-image .image:nth-of-type(2),
  .section-image .image:nth-of-type(3) {
    grid-row: 2 span;
  }

  .image:last-of-type {
    grid-column: 2 span;
  }
}

@media (width < 1024px) and (width >= 375px) {
  .header__title {
    text-shadow: 4px 4px 0px var(--title-decor);
  }

  .section:nth-of-type(2) .section__article-list {
    gap: 20px;
  }

  .section:nth-of-type(2) .section__article-item {
    flex: 1 0 auto;
    width: 100%;
  }

  .footer__title {
    text-shadow: 2px 2px 0px var(--title-decor);
  }
}